<h1><%= @player_1 %> <em>VS</em> <%= @player_2 %></h1>

<h2><%= @player_1 %> HP: <%= @player_1_HP %></h1>
<h2><%= @player_2 %> HP: <%= @player_2_HP %></h2>

<form action="/attack">
  <input type='submit' value ='Attack!'>
</form>
